// GENERAL STYLES
  
html {
  font-family:xx; /* <-- add in font family here */
  font-size: 125%; /* <-- Changes the default font size to 20px */
  color: #fff;
  background-color: #222;
}
  
.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
  
section {
  padding: 100px 0;
}
  
html,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none; // typography
}
  
a {
  color: inherit;
  text-decoration: none;
}
  
img {
  max-width: 100%; /* Makes all images become responsive if the parent container wants to shrink */
  display: block; /* removes extra padding at bottom of images */
  height: auto;
}