// index.html

// header + nav styling

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .headerContainer {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;

    p:last-of-type {
      padding-bottom: 20px;
    }

    h1 {
      padding: 10px 0;
      font-size: 3rem;
    }
  }
}

// about me styling
.aboutMe {
  background-color: $blueLight;

  .aboutMeContainer {
    display: flex;
    justify-content: center;
    text-align: center;

    .aboutMeVideoIntro {
      width: 35%;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .aboutMeInfo {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 50px;

      .skills {
        align-self: flex-start;
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}

// Languages Styling
.languageSection {
  background-color: $blueMedium;
  padding: 100px 100px;

  .languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    li {
      min-width: 75px;
    }
  }
}

// portfolio styles
.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .portfolioCategories {
    display: flex;
    gap: 50px;
    padding: 20px 0 50px;

    .btnNav {
      background-color: transparent;
      border: none;
      color: $offWhite;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $blueAccent;
        transform: scale(1.3);
      }
    }

    .btnNav-active {
      color: $redAccent;
      border-bottom: 1px solid $redAccent;
      transform: scale(1.3);
    }
  }

  .portfolioDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    padding-bottom: 50px;
    max-width: 1280px;

    .portfolioCard {
      background-color: $blueLight;
      width: 45%;
      padding: 20px;
      margin-bottom: 1%;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: space-between;

      .portfolioPreviewImg {
        display: flex;
        justify-content: center;
        width: 260px;
        height: auto;

        img {
          object-fit: cover;
        }
      }

      .portfolioLinks {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }

      .langIcn {
        display: flex;
        gap: 5px;

        img {
          width: 30px;
          filter: grayscale(1);
        }
      }
    }
  }
}

// education styles
.education {
  background-color: $blueMedium;

  ul {
    display: flex;
    justify-content: center;
    gap: 7%;

    li {
      width: 250px;
      min-width: 250px;
      display: flex;
    }
  }
}

//services styling
.servicesContainer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;

  .servicesInfo {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;

    li {
      width: 300px;
      padding: 50px 20px;
      text-align: center;
      display: flex;
      flex-direction: column;

      // Top Row
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-bottom: 1px solid $blueDark;
      }

      &:nth-child(2),
      &:nth-child(5) {
        border-left: 1px solid $blueDark;
        border-right: 1px solid $blueDark;
      }

      // front end development
      &:nth-child(2) {
        border: 2px solid $blueDark;
        background-color: $blueMedium;
        color: #fff;
      }

      i {
        font-size: 1.7rem;
        font-weight: 600;
        padding-bottom: 20px;
      }

      h2 {
        padding-bottom: 20px;
      }

      p {
        font-style: italic;
      }
    }
  }
}

// get in touch form section
.contactMe {
  background-color: $blueLight;
}
.contactMe h2 {
  text-align: center;
}

.getInTouchContainer {
  display: flex;
  justify-content: center;
  .formContainer {
    width: 75%;
    padding: 0 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: inherit;

    .topRow {
      display: flex;
      gap: 20px;
      width: 100%;

      .topLeft,
      .topRight {
        width: 50%;

        .top {
          width: 100%;
          border-radius: 8px;
          text-align: center;
          padding: 10px 0 10px 10px;
          border-color: $redAccent;
          background-color: transparent;
        }
      }
    }

    .middleRow .middle {
      width: 100%;
      padding: 10px 0 10px 10px;
      border-radius: 8px;
      border-color: $redAccent;
      background-color: transparent;
    }

    .bottomRow .bottom {
      width: 100%;
      height: 200px;
      padding: 10px 0 10px 10px;
      border-radius: 8px;
      border-color: $redAccent;
      background-color: transparent;
    }

    .formButtons {
      padding-top: 20px;
      display: flex;
      gap: 20px;
      justify-content: center;
    }
    .formBtn {
      background-color: transparent;
    }
  }
}

footer {
  height: 50px;
  background-color: $blueMedium;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    bottom: 65px;
    right: 30px;
    // left: 30px;

    li {
      width: 40px;

      img {
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.15);
        }
      }
    }
  }
}
