@media (max-width: 1058px) {
  .servicesContainer {
    ul li {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border: none;
      }
    }
  }
}

@media (max-width: 960px) {
  nav {
    .logo {
      min-width: 61.2px;
    }
    .navigation {
      justify-content: flex-start;
      gap: 0.5rem;
      font-size: 1rem;
    }
  }

  .aboutMe {
    .aboutMeContainer {
      .aboutMeInfo {
        padding: 0;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolioContainer {
    .portfolioCategories {
      gap: 10px;
      li {
        font-size: 0.8rem;
      }
    }
    .portfolioDisplay {
      flex-direction: column;
      align-items: center;
      column-gap: 40px;
      row-gap: 20px;

      .portfolioCard {
        width: 100%;
      }
    }
  }

  .servicesContainer {
    ul li {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border: none;
      }
    }
  }
}

@media (max-width: 570px) {
  nav {
    gap: 10%;
    .logo {
      // display: none;
    }

    .navigation {
      flex-direction: column;
    }
  }
  .headerContainer {
    justify-content: center;
  }

  .servicesContainer {
    ul li {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border: none;
      }

      h2 {
        font-size: 1.3rem;
      }
    }
  }
}
