nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo img {
    width: 80px;
  }

  .navigation {
    width: 80%;

    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: baseline;

    li {
      a {
        position: relative;
        color: $blackGrey;
        text-decoration: none;
        transition: 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: $redAccent;
        }

        // nav links underline
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: $orange;
          transform: scaleX(0);
          transform-origin: top left;
          transition: transform 0.3s ease;
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
  }
}
