
/* ====Variables===== */

// site colors
$backgroundBlue: #081923;
$backgroundDarkBlue: #071218;
$backgroundGreen: #102A3B;
$blueAccent: #0e93ff;
$blueAccentOp: #0b5b9c;
$orange: #ffa500;
$offWhite: #cecdcd;


// New color Palette - Site Colors
$redAccent: #0e93ff;
$blueSnow: #F1FAEE;
$blueLight: #A8DADC;
$blueMedium: #457B9D;
$blueDark: #1D3557;
$whiteOff: #cecdcd;
$blackGrey: #181818;

// additional colors



